# todo: replace with real values

NEXT_PUBLIC_SUPABASE_URL=https://your-project.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=your-anon-key
SLACK_OAUTH_TOKEN=ask-magan-for-a-token
SLACK_TEAM_ID=T081982HD2L # our slack team id
INTERNAL_SLACK_USER_ID=U080NV06FSQ # magans slack user id
